<!doctype html>
<html>
<head>
    <title>Dictionary – {{ word }}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>

    <div class="main-container">

        <form id="dict-form" autocomplete="off">
            <input type="text" name="word" id="word-input" placeholder="Enter a word" required autofocus>
            <input type="submit" value="Explain" id="explain-btn">
            <div class="break"></div>
        {% if word %}
            <div id="word-line">
                <h3 id="word">{{ word }}</h3>
                <!-- <button id="speak-btn" class="speaker-btn"> -->
                </button>
            </div>
        {% endif %}

        </form>

        <div class="result">
            {% if explanation %}
            <div id="explanation-row" class="explanation-row">
                <span id="explanation">{{ explanation }}</span>
                <!-- <button id="explanation-speak-btn" class="speaker-btn"> -->
                </button>
            </div>
            {% endif %}

            {% if sample_sentence %}
            <div id="sample_sentence-row" class="sample_sentence-row">
                <span id="sample_sentence">{{ sample_sentence|safe }}</span>
                <!-- <button id="sentence-speak-btn" class="speaker-btn"> -->
                </button>
            </div>
            {% endif %}
        </div>
    </div>

    <div id="foot">Made With Love</div>
</body>
</html>
